body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0 20px;
}
header {
  text-align: center;
  padding: 20px 0;
}
#logo {
  width: 480px;
  height: auto;
}
h1, h2 {
  color: #333;
}
.menu-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.category {
  background: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
}
.product button {
  margin: 0 5px;
}
input[type="text"], input[type="file"] {
  width: 50%;
  padding: 8px;
  margin-top: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
}
button[type="submit"] {
  padding: 20px 30px;
  background-color: #2c3e50;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 15px;
}
/* Estilos para el eslogan en la página de inicio */
.logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px; /* Espacio entre el contenedor del logo y el título de sucursal */
}

.eslogan {
    font-size: 1em; /* Un tamaño de letra más pequeño que el título principal */
    color: #666; /* Un color más suave para el eslogan */
    margin-top: 5px; /* Espacio mínimo entre el logo y el eslogan */
    margin-bottom: 0;
}

